@import "tailwindcss";

::-webkit-scrollbar {
    display: none;
}

:root {
    --primary: #b85c5c;
    --bg: #121212;
    --text: #f0f0f0;
    --accent: #221b1d;
    --muted: #828286;
    --bg-light: #1c1c1e;
    --border: #313133;
    --success: #0b592c;
}

@theme inline {
    --color-primary: var(--primary);
    --color-bg: var(--bg);
    --color-text: var(--text);
    --color-accent: var(--accent);
    --color-muted: var(--muted);
    --color-bg-light: var(--bg-light);
    --color-border: var(--border);
    --color-success: var(--success);
}

._contentEditable_f3hmk_379 ul {
    list-style: disc;
    padding-left: 1.5em;
}

._contentEditable_f3hmk_379 ol {
    list-style: decimal;
    padding-left: 1.5em;
}

._contentEditable_f3hmk_379 h1 {
    font-size: 2em;
    font-weight: bold;
}

._contentEditable_f3hmk_379 h2 {
    font-size: 1.5em;
    font-weight: bold;
}

._contentEditable_f3hmk_379 h3 {
    font-size: 1.17em;
    font-weight: bold;
}

._contentEditable_f3hmk_379 h4 {
    font-size: 1em;
    font-weight: bold;
}

._contentEditable_f3hmk_379 h5 {
    font-size: 0.83em;
    font-weight: bold;
}

._contentEditable_f3hmk_379 h6 {
    font-size: 0.75em;
    font-weight: bold;
}

._contentEditable_f3hmk_379 a {
    color: var(--color-primary);
    text-decoration: underline;
    cursor: pointer;
}

._contentEditable_f3hmk_379 code, ._code_6j9u9_52 {
    font-family: monospace;
    background-color: var(--color-border) !important;
    padding: 0.35rem;
    border-radius: 4px;
}
